

<div class="jumbotron">
  <div ng-include="'partials/alert.html'"></div>
  <table class="table">
    <tr ng-repeat="data in allData | limitTo:1">
      <th ng-repeat="(key, value) in data.data">{{key}}</th>
      <th></th>
    </tr>
    <tr ng-repeat="linhas in allData">
      <td ng-repeat="(key, value) in linhas.data">{{value}}</td>
      <td><a class="btn btn-primary" href="#/editaDadosModelo/{{nomeModelo}}/{{linhas.data.id}}">Editar</a></td>
      <td><a class="btn btn-danger" ng-click="delete(nomeModelo, linhas.data.id)">Apagar</a></td>
    </tr>
  </table>

  <a class="btn btn-primary" href="#/novoDadosModelo/{{nomeModelo}}">Novo</a>
  <a class="btn btn-primary" href="#/modelos">Voltar</a>
</div>
